.workList {
    grid-area: works;
    padding: 20px 50px;
    background-color: darkkhaki;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:'h2 h2 h2'
                        'title title title';


    h2 {
        grid-area: h2;
        font-size: 30px;
        line-height: 35px;
    }

    .works {
        margin: 0 5px;
        padding: 10px;
        border: 2px solid whitesmoke;
        border-radius: 10px;

        p {
            font-size: 20px;
        }
    }
    .read-more-button {
        color: blue;
        text-transform: uppercase;

    }
    
}